{% extends "base.html" %}
{% block content %}
<section class="answers-check">
    <div class="answers-check__body _container">
        <div class="content">
            <ul class="items">
                {% for answer in answers %}
                <li class="item">
                    {{ answer.task.title }}
                    {{ answer.status }}
                    {{ answer.user.name }} {{ answer.user.surname }}
                    {{ answer.modified_date }}
                    {% if answer.status == 'Зачтено' %}
                    {{ answer.score }}
                    {% else %}
                    <a href="/answer_edit/{{ answer.id }}">Изменить</a>
                    {% endif %}
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>
</section>


{% endblock %}

