{% extends "base.html" %}

{% block content %}
<section class="answers">
    <div class="answers__body _container">
        <div class="content">
            <div class="navigation-bar">
                <h2><span class="answer_title">Задание:</span> {{ task.title }}</h2>
            </div>
            <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
                <div class="answers-content">
                    <ul class="question-answer-items items">
                        {% for question in questions_by_user %}
                        {% set question_num = loop.index0 %}
                        
                        <li class="question-answer__item item">
                            <div class="question__title">
                                {{ question_num + 1 }}. {{ question['question'] }}
                            </div>
                            <div class="answer__content">
                                <ul class="answer-choices items" id="test_answers-4">

                                    {% for choice in question['answer_choice'] %}
                                    {% if loop.index0 == question['user_answer_index_for_choices'] %}

                                    <li class="answer__choice item active">
                                        <input id="test_answers-{{ question_num }}-{{ loop.index0 }}" checked name="test_answers-{{ question_num }}" required="" type="radio" value="{{ choice }}">
                                        <label for="test_answers-{{ question_num }}-{{ loop.index0 }}">{{ choice }}</label>
                                    </li>
                                    {% else %}
                                    <li class="answer__choice item">
                                        <input id="test_answers-{{ question_num }}-{{ loop.index0 }}" name="test_answers-{{ question_num }}" required="" type="radio" value="{{ choice }}">
                                        <label for="test_answers-{{ question_num }}-{{ loop.index0 }}">{{ choice }}</label>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="field">
                    <div class="btn-submit">
                        <div class="field">{{ form.submit(type="submit", class="btn btn_submit") }}</div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
{% endblock %}
