
{% extends "base.html" %}

{% block content %}
<section class="page">
    <div class="page__body _container">
        <div class="navigation-bar">
            <h2>Темы</h2>
        </div>
        <div class="content">
            {% if topics %}
            <ul class="items applications task-items">
                {% for item in topics[::-1] %}
                <li class="item application task__item">
                    <div class="topic__wrapper">
                        <a href="/topic_view/{{ item.id }}" class="topic_link application_btns">

                            <div class="application__wrapper">
                                <div class="application__pictures">
                                    {% if item.picture %}
                                    <img src="../static/img/{{ item.picture }}" alt="picturesErr">
                                    {% else %}
                                    <img src="../static/img/defpicture.png" alt="picturesErr">
                                    {% endif %}
                                </div>
                                <div class="application__info">
                                    <div class="application__info-titles">
                                        <div class="application__title">
                                            {{ item.title }}
                                        </div>
                                        <div class="application__subtitle">
                                            Задание:
                                            {% if item.tasks %}
                                                {% for topic in item.tasks %}
                                                {% if loop.last %}
                                                    {{ loop.index }}
                                                {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="application__info-time time">
                                        <span class="icon"><img src="../static/img/time.svg" alt="timeErr"></span>
                                        <div class="time-data">
                                            {{ item.created_date }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="empty-wrapper">
                <div class="empty__content">
                    <div class="empty">
                        Здесь ничего нет
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
