
{% extends "base.html" %}
{% block content %}
<section class="login">
    <div class="login__body _container">
        <div class="content">
            <div class="navigation-bar">
                <h2>Вход</h2>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="field">
                    {{ form.surname.label(for="surname", class="label") }}
                    {{ form.surname(class="input", id="surname", autocomplete="off") }}
                    {% for error in form.surname.errors %}
                    <p class="alert alert-danger" role="alert">
                    {{ error }}
                    </p>
                    {% endfor %}
                </div>
                <div class="field">
                    {{ form.name.label(for="name", class="label") }}
                    {{ form.name(class="input", id="name", autocomplete="off") }}
                    {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                    {{ error }}
                    </p>
                    {% endfor %}
                </div>
                <div class="field">
                    {{ form.password.label(for="password", class="label") }}
                    {{ form.password(class="input", id="password") }}
                    {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert">
                    {{ error }}
                    </p>
                    {% endfor %}
                </div>
                <div class="field">
                    <div class="btn-submit">
                        {{ form.submit(type="submit", class="btn btn_submit") }}
                    </div>
                </div>
                <div class="no-login">
                    Нет аккаунта?
                    <a class="register__btn" href="/register">Зарегистрироваться</a>
                </div>
                <p class="alert alert-danger" role="alert">
                    {{message}}
                </p>
            </form>
        </div>
    </div>
</section>
{% endblock %}
