{% extends "base.html" %}

{% block content %}
<section class="task">
    <div class="task__body _container">
        <div class="content">
            <div class="navigation-bar">
                <h2>Создание задания</h2>
            </div>
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="task-fields">

                    <div class="field">
                        {{ form.title.label(for="title", class="label") }}
                        {{ form.title(class="input", id="title", autocomplete="off") }}
                        {% for error in form.title.errors %}
                        <p class="alert alert-danger" role="alert">
                        {{ error }}
                        </p>
                        {% endfor %}
                    </div>
                    <div class="navigation-bar">
                        <h3>Вопросы</h3>
                    </div>
                    <div class="quastion-wrapper">

                        <div class="question-block">

                            <div class="question__item" id="0">
                                {% for question in form.questions %}
                                    <div class="question__number">
                                        1
                                    </div>
                                    <div class="question__wrapper">

                                        <div class="field">
                                            {{ question.question.label(for="question", class="label") }}
                                            {{ question.question(class="input", id="question", autocomplete="off") }}
                                            {% for error in question.question.errors %}
                                            <p class="alert alert-danger" role="alert">
                                            {{ error }}
                                            </p>
                                            {% endfor %}
                                        </div>
                                        <div class="choices-wrapper">
                                            <div class="choices">
                                                {% for choice in question.answer_choice %}
                                                <div class="choice" id="0">
                                                    <div class="choice__wrapper">
                                                        <div class="field">
                                                            {{ choice.label(for="choice", class="label") }}
                                                            {{ choice(class="input", id="choice", autocomplete="off") }}
                                                            {% for error in choice.errors %}
                                                            <p class="alert alert-danger" role="alert">
                                                            {{ error }}
                                                            </p>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="choice-delete">
                                                            <button type="button" class="btn" id="delete_choice_button" onclick="deleteChoice()">
                                                                <img src="../static/img/cancel.svg" alt="cancelErr">
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            {% endfor %}
                                            </div>

                                            <button type="button" class="add_choice" id="add_choice_button" onclick="addChoice()">
                                                вариант ответа
                                            </button>
                                        </div>

                                        <div class="bottom-border">
                                            <div class="field">
                                                {{ question.right_choice.label(for="right_choice", class="label") }}
                                                {{ question.right_choice(class="input", id="right_choice", autocomplete="off") }}
                                                {% for error in question.right_choice.errors %}
                                                <p class="alert alert-danger" role="alert">
                                                {{ error }}
                                                </p>
                                                {% endfor %}
                                            </div>
                                            <div class="delete-btn-wrapper">
                                                <div class="delete_btn">
                                                    <button type="button" class="btn tools_btn" id="delete_quastion_button" onclick="deleteQuestion()">Удалить</button>
                                                </div>
                                            </div>
                                        </div>

                                    
                                    </div>

                                {% endfor %}
                            </div>

                        </div>
                        
                        <button type="button" class="btn add_question" id="add_question_button">
                            <div class="add_question_text add_task">вопрос</div>
                        </button>
                        
                    </div>
                    <div class="field">
                        <div class="btn-submit">
                            {{ form.submit(type="submit", class="btn btn_submit") }}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
